.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
}

.main a {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: fit-content;
  font-weight: 600;
}

.main a:hover {
  background-color: white;
  color: black;
}