.main {
  background-color: #eef5ff;
  color: black;
  height: auto;
  min-height: calc(100vh - 2rem);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  font-weight: 300;
  background: white;
  color: #5a5a5a;
  padding: 0.8em;
  height: 300px;
  width: 200px;
  border-radius: 0.8em;
  margin: 0 1rem 2rem;
  overflow: hidden;
  box-shadow: 0 5px 10px #dbdbdb;
  font-size: 0.75rem;
  text-align: justify;
  text-justify: inter-word;
  
}

.card:hover {
  transform: "scale3d(1.05, 1.05, 1)";
}

.divider {
  background-color: #dbdbdb;
  width: 100%;
  height: 0.5px;
  margin: 0.4rem 0;
}

.stacks {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  overflow-y: scroll;
  justify-content: start;
  flex-wrap: wrap;
}

.stacks > p {
  background-color: rgb(20, 20, 85);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  height: auto;
  color: white;
  font-size: 0.625rem;
  margin: 0.25rem 0.25rem 0;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.feedback {
    height: 1.5rem;
}
